$mainColor-blue: #083060;
$mainColor-red: #D90F1A;
$mainColor-red2: #a21510;
$mainColor-white: #FFFFFF;
$mainColor-black: #000000; 

// Yeni Sarı Tonları
$mainColor-yellow: #ffc107;
$mainColor-amber: #f9d60e;
$mainColor-gold: #f9d60e;

$vendors: ("", "-webkit-", "-moz-", "-ms-", "-o-");