@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.password-base {
    position: relative;

  .form-control {
    border: none;
    @include borderRadius(0px);
    border-bottom: 1px solid $mainColor-red;
    margin-top: 1rem;
    margin-right: 1rem;
    color: $mainColor-red;
  }

  span{
    position: absolute;
    right: 15px;
    top: 50%;
    
    i{
        font-size: 1.3rem;
        color:$mainColor-red;
        cursor: pointer;
        transform: translateY(-50%);
    }
  }

}
