@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.submit-button {
  margin-top: 2rem;
  width: 100%;
  height: 50px;
  @include flexbox($ai: center, $jc: center);
  @include borderRadius(100px);
  background-color: $mainColor-blue !important;
  border: 1px solid rgba($mainColor-white, 0.2);
  color: $mainColor-white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  @include transition(all 0.3s ease-in-out);

  i {
    font-size: 1.2rem;
    vertical-align: middle;
  }

  &:hover:not(:disabled) {
    background-color: lighten($mainColor-blue, 10%) !important;
    color: $mainColor-white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    border-color: $mainColor-white;
  }

  &:active {
    transform: translateY(-1px);
  }

  &:disabled {
    background-color: $mainColor-blue !important;
    border-color: transparent;
    color: rgba($mainColor-white, 0.6);
    cursor: not-allowed;
    backdrop-filter: none;
    transform: none;
  }

  .spinner-border {
    color: $mainColor-white;
  }
}
